@import url('https://fonts.googleapis.com/css2?family=Economica&family=Quattrocento+Sans&display=swap');

$primary: #3fbf6e;
$secondary: #465591;
$dark: #3a3d3b;
$light: #f5f6fa;

$title-font: 'Economica', sans-serif;
$text-font: 'Quattrocento Sans', sans-serif;

$spacing: 16px;
$spacing-l: $spacing * 2;
$spacing-xl: $spacing-l * 2;
$spacing-s: $spacing / 2;
$spacing-xs: $spacing-s / 2;

$main-title-size: 32pt;
$secondary-title-size: 24pt;
$regular-size: 16pt;
